# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# media (archivos de base de datos: facturas, boletas, comprobantes de pago, documentos de deuda)
backend/media/
# En caso de querer ignorar carpetas específicas y no toda la estructura media, usar:
# backend/media/facturas/
# backend/media/boletas/
# backend/media/comprobantes/
# backend/media/documentos_deuda/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
